body{
    font-family: sans-serif;
    color: rgb(224, 1, 83);
}
header{
     text-align: center;
}

span{
    background-color: rgb(253, 2, 148);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
*{
  padding: 0;
  margin: 0;
}
p{
  margin: 10px 0px;
}
div{
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
main{
    margin-top: 10px;
}
section{
     display: flex;
     justify-content: center;
}